@font-face {
    font-family: 'etch';
    src: url(./fonts/MaryAteALittleLamb-po3y.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    min-width: 600px;
    display: grid;
    grid-template-rows: auto 1fr auto;

}

header {
    text-align: center;
    padding: 18px;
    background-color: brown;
    
}

main#gameboard {
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
    background-color: burlywood;
}

main#gameboard 
div#versus {
  gap: 22px;
  display: grid;
}

main#gameboard
div#versus 
button {
  padding: 6px 18px;
  appearance: none;
  width: max-content;
  height: max-content;
}



ul#selectList {
  justify-content: space-around;
  display: flex;
}

main#gameboard
form#player-info {
  display: grid;
}

main#gameboard
form#player-info
input[type='text']{
  margin-top: 2px;
  appearance: none;
  padding: 4px 2px;
  border-radius: 6px;
  border: 2px solid brown;
}

main#gameboard
form#player-info
label:nth-of-type(2) {
  margin-top: 20px;;
  margin-bottom: 12px;
  text-align: center;
}


ul#selectList li
button {
  appearance: none;
  padding: 6px 18px;
  border: 2px solid brown;
  background-color: white;
    
}
ul#selectList li
button:hover {
  background-color: burlywood;
}

main
div#board {
  display: grid;
  gap: 18px;
  justify-items: center;
}



div#board
div#grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  padding: 0 36px;
  outline: 2px solid black;
  grid-template-rows: repeat(3, 100px);
  justify-items: center;
  border-radius: 50px;
  background-color: brown;
  color: rgb(110, 109, 109);
  height: 372px;
  width: 372px;
  align-content: center;
}

div#board
div#grid
div.mark {
  text-align: center;
  width: 100px;
  height: 100px;
  color: burlywood;
  font-family: 'etch';
  font-size: 3.5rem;
}


div#board
div#grid
div.mark:nth-child(3n + 2) {
  border-right: 5px groove burlywood;
  border-left: 5px groove burlywood;
}

div#board
div#grid
div.mark:nth-child(1n+4) {
  border-top: 5px groove burlywood ;
}

section#announce {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  display: grid;
  align-content: space-evenly;
  justify-items: center;
}


footer {
  padding: 16px;
  background-color: brown;
  text-align: center;
}

footer img.github {
  width: 32px;
}

.hidden {
  opacity: 0;
}